body {
    margin: 0;
    overflow: hidden;
    font-family: Normal;
    background-color: #f3f3f3;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

@font-face {
    font-family: 'Werewolf';
    src: local('Werewolf'), url("./fonts/DampfPlatzs.ttf") format('truetype');
}

@font-face {
    font-family: 'Normal';
    src: local('Normal'), url("./fonts/BLKCHCRY.TTF") format('truetype');
}
